body{
margin:0;
padding:0;
background:#0f0f0f;
font-family:'Poppins',sans-serif;
color:white;
}

/* main title */

.title{
text-align:center;
font-size:38px;
color:#e50914;
margin-top:30px;
letter-spacing:2px;
}

/* search section */

.search{
text-align:center;
margin:40px 0;
}

input{
padding:14px;
width:320px;
border-radius:8px;
border:none;
font-size:16px;
outline:none;
background:#222;
color:white;
}

button{
padding:14px 25px;
margin-left:10px;
background:#e50914;
border:none;
color:white;
border-radius:8px;
font-size:16px;
cursor:pointer;
transition:0.3s;
}

button:hover{
background:#ff1e1e;
transform:scale(1.05);
}

/* movie grid */

.container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:35px;
padding:50px;
}

/* movie card */

.movie-card{
background:#1b1b1b;
padding:20px;
border-radius:12px;
text-align:center;
transition:0.4s;
box-shadow:0 5px 15px rgba(0,0,0,0.5);
}

.movie-card:hover{
transform:translateY(-12px) scale(1.05);
box-shadow:0 15px 35px rgba(229,9,20,0.6);
}

/* movie image */

.movie-card img{
width:100%;
height:320px;
object-fit:cover;
border-radius:10px;
}

/* title */

.movie-card h3{
font-size:18px;
margin-top:15px;
color:#ffffff;
}

/* year */

.movie-card p{
color:#bbbbbb;
font-size:14px;
margin-top:5px;
}